body{
    background-color: #b18c8c;
}
.compras {
    border: 5px solid black;
}
.semdestaque {
    margin: 20px;
    padding: 20px;
    background-color: #F5F5F5;
}

.comdestaque {
    margin: 20px;
    padding: 20px;
    background-color: #F0CCE2;
}
.tabela td, th, tr{
    border: 1px solid black;
    margin: 10px;
    padding: 5px; 
}
td{
    background-color: #660d0d;
}
th{
    background-color: #c23838;
}

h2{
    margin: 10px;
    padding: 10px;
}

